@import "../variables";

.main-wrap-section {
  background-color: dimgrey;
  font-size: 18px;
  color: $main-color;
  padding: $cont-content;
  border-radius: $border-rad;
  flex-direction: row;
  flex: 3;
}
.user-block {
  li{
    list-style-type: none;
  }
}
