.task input[type="submit"] {
  padding: 10px 25px;
  font-size: 1em;
  color: white;
  background: rgb(0,102,153);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px white;
  margin: auto;
  margin-top: 20px;
}