@import '../variables';

.gallery {
  background-color: $container-bg;
  display: flex;
  border-radius: $border-rad;
  //border: #4e4544;
  padding: $cont-padding;
  margin-top: $cont-top-margin;

  img {
    margin: auto;
    padding: $cont-padding;
    width: 270px;
    height: 200px;
  }
}
