@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#fff ;
  color: #4e4544;
  font: normal 16px sans-serif;
}

.container {
  max-width: 90%;
  background-color: #eee;
  margin: 0 auto;
  padding: 0 60px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
